.header {
  background-color: #fff0f0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 64px;
}

.goBackButtonWrapper {
  position: absolute;
  left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
