.button {
  width: 298px;
  height: 40px;
  padding: 12px 16px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eaeef7;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 0px rgba(84, 60, 151, 0.25);
}

.button:active,
.active {
  background: linear-gradient(
    165.54deg,
    #141333 -33.39%,
    #202261 15.89%,
    #543c97 55.84%,
    #6939a2 74.96%
  );
  color: white;
}

.darkTheme {
  background: #fbfbff;
  color: #6a3aa2;
  box-shadow: 0px 4px 4px 0px #d8d6d640;
}
